.host {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.header {
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    background: #fff;
    color: #545454;
    position: relative;
    z-index: 1;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12));
    will-change: filter;
    transition: filter 150ms ease-out;
}

.header:not([busy]) {
    transition-delay: 800ms;
}

.header[busy] {
    filter: drop-shadow(0 2px 2px #673ab8);
}

.nav {
    display: flex;
    align-items: center;
    height: 55px;
    max-width: 1000px;
    width: calc(100% - 40px); /* devnote: this is side padding, this is often done with margins, but we're already using them for horizontal alignment */
    margin-left: auto;
    margin-right: auto;
}

.home {
    background: center center no-repeat;
    background-size: contain;
    height: 25px;
    width: 24px;
}

.home, .back {
    text-decoration: none;
    color: #222;
}

.content {
    flex: auto;
    position: relative;
}
