@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./fonts/roboto-regular.woff2') format('woff2'),
       url('./fonts/roboto-regular.woff') format('woff');
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #eee;
    overflow: hidden;
}

html {
    font-display: optional;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
